.infoContainer{
    margin-top: 2rem;
}

.infoContainer div{
    margin-bottom: 0.5rem;
}
.infoContainer h2{
    font-size: 27px;
}
.infoContainer hr{
    margin-bottom: 1.5rem;
}

.infoContainer span{
    color: #fff;
}